*{
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 18, 211);
    height: 15px;
    position: fixed;
    width: 88%;
        
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}
.nav-links ul li a{
    color: rgb(217, 226, 236);
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background: #f44336;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:nth-child(1):after{
    content:"";
    width: 100%;
    height: 2px;
    background: #f44336;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
    font-weight: 500;
}
.logo{
    height: 42px;
    width: 70px;
    margin-left: 15px;
    position: absolute;

}
@media(max-width:600px){
    .logo{
        height: 35px;
        margin-left: 45px;
    
    }
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(243, 226, 226, 0.753),rgba(0, 0, 0, 0.39)), url(img/team.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

@media(max-width:600px){
    .nav-links ul li{
        display: flex;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 40vh;
        width: 200px;
        top: 0;
        left: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor:pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .cta h1{
        font-size: 28px;
    }
    .fa .fa-bars{
        margin-left: 200px;
    }
}
@media(max-width:600px){
    .header{
        min-height: 1000px;}
          
}

.img-content{
    width:90%;
    color:rgb(224, 238, 25);
    position:absolute;
    top: 40%;
    left: 10%;
    transform: translate(-50% -50%); 
    text-align: center;
 }
 .img-content h1{
     font-size: 62px;
     color: rgb(46, 4, 54);
     text-shadow: 2px 3px 0 rgba(245, 240, 240, 0.671);
 }
@media(max-width:600px){
    .img-content h1{
        font-size: 42px;
        color: rgb(46, 4, 54);
        text-shadow: 2px 3px 0 rgba(245, 240, 240, 0.671);
    
    }
}
 .img-content p{
     margin: 10px 0 40px;
     font-size: 14px;
     color: rgb(245, 253, 252);
 }
 .hero-btn{
     display: inline-block;
     text-decoration: none;
     border: 1px solid rgb(228, 217, 217);
     color: rgb(238, 232, 243);
     padding: 12px 34px;
     font-size: 13px;
     background-color: rgb(153, 95, 192);
     position: relative;
     
     
 }
 .hero-btn:hover{
     border:1px solid #dddce9;
     background: #630675;
     transition: 1s;
 }

 .info{
     font-size: large;
     color: rgba(239, 243, 6, 0.973);
 }


.footer h2 {
    text-align: center;
    color: hsl(270, 44%, 62%);
    text-shadow: 1px 1px 0px black;
}
.main-f{width: 30%;
    display: flex;
    margin: auto;
}
.footer1{
    display: flex;
    margin: 0% 28%;
}
.footer2{
    display: flex;
    margin: 0% 33%;
}
.f2 , .f1 {
    width: 100px;
    margin: 10px;
}
.f0 {
    width: 130px;
    margin: 10px;
}


@media(max-width:600px){
    
    .footer2{
        margin-left: 15px;
        display: flex;
    }
    .f1 {
        width: 65px;
        margin: 10px;
    }
    .f0 {
        width: 70px;
        margin: 10px;
    }
    .f2{
        width: 85px;
    }
}



.end{
    background-color: rgb(17, 17, 172);
    width: 100%;
    height: 320px;
}
.endlogo{
    float: left;
    margin: 6%;
    width: 150px;
    border-radius: 3px;
}
.end-content {
    color: cornsilk;
    text-align: center;
}
.social-media{
    width: 3%;
    float: right;
    margin-right: 40%;
    margin-top: 3%;
    border:  2px  solid  rgb(247, 8, 8);
    border-radius: 10px;
}
@media(max-width:600px){
    .social-media{
        width: 10%;
        float: right;
        margin-right: 40%;    }
}