*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 18, 211);
    height: 15px;
    position: fixed;
    width: 88%;
        
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}
.nav-links ul li a{
    color: rgb(217, 226, 236);
    text-decoration: none;
    font-size: 9px;
    
}
.nav-links ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background: #f44336;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:nth-child(5):after{
    content:"";
    width: 100%;
    height: 2px;
    background: #f44336;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.logo{
    height: 42px;
    width: 70px;
    margin-left: 15px;
    position: absolute;
}

@media(max-width:600px){
    .logo{
        height: 35px;
        margin-left: 5px;
    
    }






.searchbaground{
    background-color: rgb(146, 188, 204);
    height: 90vh;
    width: 100%;
}
@media(max-width:600px){
    .searchbaground{
        height: 1200px;
    }
    

}





/* Dropdown Button */
.dropbtn {
    background-color: #0c4b86;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin: 60% 60% 0% 60%;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #eed1cf;
    min-width: 170px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #6ca4da;
color: rgb(7, 35, 87);}







.floatright{
    float: right;
    margin: 30px;
}
.floatright h2{
    text-align: center;
}
.news{
    margin: 20px;
    border: 2px solid rgb(11, 112, 119);
    padding: 8px;
}
.news:hover{
    background-color: rgb(26, 161, 150);
}











.footer h2 {
    text-align: center;
    color: hsl(270, 44%, 62%);
    text-shadow: 1px 1px 0px black;
}
.main-f{width: 30%;
    display: flex;
    margin: auto;
}
.footer1{
    width: 50%;
    
    margin-left: 35%;
}
.footer2{
    display: flex;
    margin: 0% 33%;
}
.f2 , .f1 {
    width: 100px;
    margin: 10px;
}
.f0 {
    width: 130px;
    margin: 10px;
}

@media(max-width:600px){
    
    .footer2{
        margin-left: 15px;
        display: flex;
    }
    .f1 {
        width: 65px;
        margin: 10px;
    }
    .f0 {
        width: 70px;
        margin: 10px;
    }
    .f2{
        width: 75px;
    }
}



.end{
    background-color: rgba(4, 4, 158, 0.966);
    width: 100%;
    height: 380px;
}
.endlogo{
    float: left;
    margin: 6%;
    width: 150px;
}
.end-content {
    color: cornsilk;
    text-align: center;
}
.social-media{
    width: 3%;
    float: right;
    margin-right: 40%;
    margin-top: 3%;
    border:  2px  solid  rgb(247, 8, 8);
    border-radius: 10px;
}
@media(max-width:600px){
    .social-media{
        width: 10%;
        float: right;
        margin-right: 40%;    }
    }
}