*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(18, 18, 211);
    height: 15px;
    position: fixed;
    width: 88%;
        
}

.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display:inline-block;
    padding: 8px 12px;
    position:relative;
}
.nav-links ul li a{
    color: rgb(217, 226, 236);
    text-decoration: none;
    font-size: 9px;
}
.nav-links ul li::after{
    content:"";
    width: 0%;
    height: 2px;
    background: #f44336;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:nth-child(4):after{
    content:"";
    width: 100%;
    height: 2px;
    background: #f44336;
    display:block;
    margin:auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.logo{
    height: 42px;
    width: 70px;
    margin-left: 15px;
    position: absolute;
}

@media(max-width:600px){
    .logo{
        height: 35px;
        margin-left: 5px;
    
    }

    

.main-section tr:nth-child(even){
    background-color: rgb(162, 222, 224);
}
.main-section tr:nth-child(1){
    background-color: rgb(4, 36, 41);
    color: cornsilk;
    font-size: 18px;
}
.first{
    color: rgb(247, 240, 240);
    padding: 15px ;
    text-shadow: 1px 1px 0px  rgb(230, 11, 11);

}
.second{
    padding: 10px ;
    margin: 10px;
    text-align: center;
}
.background{
    background-color: rgb(149, 189, 214);
}
.main-section{
    background-color: cornsilk;
}

@media(max-width:600px){
    .main-section tr:nth-child(even){
        background-color: rgb(162, 222, 224);
    }
    .main-section tr:nth-child(1){
        background-color: rgb(4, 36, 41);
        color: cornsilk;
        font-size: 15px;
    }
    .first{
        color: rgb(247, 240, 240);
        padding: 8px ;
        text-shadow: 1px 1px 0px  rgb(230, 11, 11);
    
    }
    .second{
        padding: 5px ;
        margin: 5px;
        font-size: 11px;
        text-align: center;
    }
    .background{
        background-color: rgb(149, 189, 214);
    }
    .main-section{
        background-color: cornsilk;
    }
}







.h2{
    color: rgb(22, 24, 109);
    text-align: center;
    text-shadow: 1px 1px 0px  rgb(8, 8, 8);
}
.main-section{
    width: 70%;
    margin: auto;
}






.footer h2 {
    text-align: center;
    color: hsl(270, 44%, 62%);
    text-shadow: 1px 1px 0px black;
}
.main-f{width: 30%;
    display: flex;
    margin: auto;
}
.footer1{
    width: 50%;
    
    margin-left: 35%;
}
.footer2{
    display: flex;
    margin: 0% 33%;
}
.f2 , .f1 {
    width: 100px;
    margin: 10px;
}
.f0 {
    width: 130px;
    margin: 10px;
}

@media(max-width:600px){
    
    .footer2{
        margin-left: 15px;
        display: flex;
    }
    .f1 {
        width: 65px;
        margin: 10px;
    }
    .f0 {
        width: 70px;
        margin: 10px;
    }
    .f2{
        width: 70px;
    }
}



.end{
    background-color: rgba(4, 4, 158, 0.966);
    width: 100%;
    height: 380px;
}
.endlogo{
    float: left;
    margin: 6%;
    width: 150px;
}
.end-content {
    color: cornsilk;
    text-align: center;
}
.social-media{
    width: 3%;
    float: right;
    margin-right: 40%;
    margin-top: 3%;
    border:  2px  solid  rgb(247, 8, 8);
    border-radius: 10px;
}

@media(max-width:600px){
    .social-media{
        width: 10%;
        float: right;
        margin-right: 40%;    
    }
}
}